In [5]:
import pandas as pd;

df = pd.read_excel("C:/Users/ashuj/OneDrive/Desktop/Advanced Excel/Employee_Sample_Data.xlsx")
print(df)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age            Hire Date  \
0    Research & Development  Female      Black   55  2016-08-04 00:00:00
1             Manufacturing    Male      Asian   59           11/29/1997
2       Speciality Products  Female  Caucasian   50           10/26/2006
3             Manufacturing  Female  Caucasian   26            9/27/2019
4             Manufacturing    Male      Asian   55           11/20/1995
..                      ...     ...        ...  ...                  ...
995     Speciality Products    Male  Caucasian   33            9/18/2016
996     Speciality Products  Female      Asian   44            5/31/2010
997     Speciality Products    Male      Asian   31  2019-10-06 00:00:00
998     Speciality Products  Female      Asian   33            1/28/2012
999               Corporate  Female      Asian   63            7/26/2020

    Annual Salary  Bonus %        Country       City            Exit Date
0       $141,604      0.15  United States    Seattle           10/16/2021
1        $99,975      0.00          China  Chongqing                  NaN
2       $163,099      0.20  United States    Chicago                  NaN
3        $84,913      0.07  United States    Chicago                  NaN
4        $95,409      0.00  United States    Phoenix                  NaN
..            ...      ...            ...        ...                  ...
995      $98,427      0.00  United States   Columbus                  NaN
996      $47,387      0.00          China    Chengdu  2018-08-01 00:00:00
997     $176,710      0.15  United States      Miami                  NaN
998      $95,960      0.00          China    Chengdu                  NaN
999     $216,195      0.31  United States      Miami                  NaN

[1000 rows x 14 columns]

# Creating a new column with the condition applying in Bonus % column

In [6]:
df.loc[(df["Bonus %"] == 0), "GetsBonus"] = "no bonus"
df.loc[(df["Bonus %"] > 0), "GetsBonus"] = "bonus"
print(df.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age            Hire Date  \
0  Research & Development  Female      Black   55  2016-08-04 00:00:00
1           Manufacturing    Male      Asian   59           11/29/1997
2     Speciality Products  Female  Caucasian   50           10/26/2006
3           Manufacturing  Female  Caucasian   26            9/27/2019
4           Manufacturing    Male      Asian   55           11/20/1995
5               Corporate    Male      Asian   57            1/24/2017
6               Corporate  Female  Caucasian   27  2020-01-07 00:00:00
7           Manufacturing    Male      Black   25            5/16/2020
8           Manufacturing    Male  Caucasian   29            1/25/2019
9     Speciality Products  Female  Caucasian   34            6/13/2018

  Annual Salary  Bonus %        Country       City   Exit Date GetsBonus
0     $141,604      0.15  United States    Seattle  10/16/2021     bonus
1      $99,975      0.00          China  Chongqing         NaN  no bonus
2     $163,099      0.20  United States    Chicago         NaN     bonus
3      $84,913      0.07  United States    Chicago         NaN     bonus
4      $95,409      0.00  United States    Phoenix         NaN  no bonus
5      $50,994      0.00          China  Chongqing         NaN  no bonus
6     $119,746      0.10  United States    Phoenix         NaN     bonus
7      $41,336      0.00  United States      Miami   5/20/2021  no bonus
8     $113,527      0.06  United States     Austin         NaN     bonus
9      $77,203      0.00  United States    Chicago         NaN  no bonus

In [7]:
data = pd.read_excel("C:/Users/ashuj/OneDrive/Desktop/Advanced Excel/ESD.xlsx")
print(data)

  First Name   Last Name  Salary EEID
0       ross   tribbaini   20000   E1
1    richeal        bing   45000   E2
2     monica       green   27000   E7
3       joey      geller   42000   E8
4   chandler      beffay   30000   E4
5      phobe  litchfield   70000   E5

# Creating a new column Full Name of the combination of First Name and Last Name 
# Using .str.capitalize() for capitalize the first letter of the Full Name

In [10]:
data["Full Name"] = data["First Name"].str.capitalize() +" "+ data["Last Name"].str.capitalize()
print(data)

  First Name   Last Name  Salary EEID         Full Name
0       ross   tribbaini   20000   E1    Ross Tribbaini
1    richeal        bing   45000   E2      Richeal Bing
2     monica       green   27000   E7      Monica Green
3       joey      geller   42000   E8       Joey Geller
4   chandler      beffay   30000   E4   Chandler Beffay
5      phobe  litchfield   70000   E5  Phobe Litchfield

# Creating a Bonus column by applying a condition on salary column

In [12]:
data["Bonus"] = (data["Salary"]/100)*20
print(data)

  First Name   Last Name  Salary EEID         Full Name    Bonus
0       ross   tribbaini   20000   E1    Ross Tribbaini   4000.0
1    richeal        bing   45000   E2      Richeal Bing   9000.0
2     monica       green   27000   E7      Monica Green   5400.0
3       joey      geller   42000   E8       Joey Geller   8400.0
4   chandler      beffay   30000   E4   Chandler Beffay   6000.0
5      phobe  litchfield   70000   E5  Phobe Litchfield  14000.0

# Creating Short_month column using Months column and extracting the starting 3 values in the Short_month using .map() function

In [15]:
data = {"Months": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]}

a = pd.DataFrame(data)

def extract(value):
    return value[0:3]


a["Short_month"] = a["Months"].map(extract)
print(a)

       Months Short_month
0     January         Jan
1    February         Feb
2       March         Mar
3       April         Apr
4         May         May
5        June         Jun
6        July         Jul
7      August         Aug
8   September         Sep
9     October         Oct
10   November         Nov
11   December         Dec