In [2]:
import pandas as pd;

df = pd.read_excel("C:/Users/ashuj/OneDrive/Desktop/Advanced Excel/Employee_Sample_Data.xlsx")
print(df)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age            Hire Date  \
0    Research & Development  Female      Black   55  2016-08-04 00:00:00
1             Manufacturing    Male      Asian   59           11/29/1997
2       Speciality Products  Female  Caucasian   50           10/26/2006
3             Manufacturing  Female  Caucasian   26            9/27/2019
4             Manufacturing    Male      Asian   55           11/20/1995
..                      ...     ...        ...  ...                  ...
995     Speciality Products    Male  Caucasian   33            9/18/2016
996     Speciality Products  Female      Asian   44            5/31/2010
997     Speciality Products    Male      Asian   31  2019-10-06 00:00:00
998     Speciality Products  Female      Asian   33            1/28/2012
999               Corporate  Female      Asian   63            7/26/2020

    Annual Salary  Bonus %        Country       City            Exit Date
0       $141,604      0.15  United States    Seattle           10/16/2021
1        $99,975      0.00          China  Chongqing                  NaN
2       $163,099      0.20  United States    Chicago                  NaN
3        $84,913      0.07  United States    Chicago                  NaN
4        $95,409      0.00  United States    Phoenix                  NaN
..            ...      ...            ...        ...                  ...
995      $98,427      0.00  United States   Columbus                  NaN
996      $47,387      0.00          China    Chengdu  2018-08-01 00:00:00
997     $176,710      0.15  United States      Miami                  NaN
998      $95,960      0.00          China    Chengdu                  NaN
999     $216,195      0.31  United States      Miami                  NaN

[1000 rows x 14 columns]

# GroupBy with aggregate function finding the count of the gender in the Department column

In [5]:
gp = df.groupby(["Department", "Gender"]).agg({"EEID": "count"})
print(gp)

                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64

In [9]:
gp1 = df.groupby(["Country", "Gender"]).agg({"Annual Salary": "max", "Age": "min"})
print(gp1)

                     Annual Salary  Age
Country       Gender
Brazil        Female      $98,581    25
              Male        $99,697    26
China         Female      $99,989    25
              Male        $99,975    25
United States Female      $99,575    25
              Male        $99,774    25