In [2]:
import pandas as pd;

data1 = {"EmpId": ["E01", "E02", "E03", "E04", "E05", "E06"],
        "Name": ["Aman", "Rahul", "Kiran", "Sonam", "Jassie", "Shyam"],
        "Age": [30,28,43,38,22,27]}

data2 = {"EmpId": ["E01", "E02", "E03", "E04", "E05", "E06"],
        "Salary": [25000, 30000, 42000, 50000, 74000, 38000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print(df2)

  EmpId    Name  Age
0   E01    Aman   30
1   E02   Rahul   28
2   E03   Kiran   43
3   E04   Sonam   38
4   E05  Jassie   22
5   E06   Shyam   27
  EmpId  Salary
0   E01   25000
1   E02   30000
2   E03   42000
3   E04   50000
4   E05   74000
5   E06   38000

# Merging the two columns on the basis of the common parameter

In [3]:
print(pd.merge(df1,df2, on = "EmpId"))

  EmpId    Name  Age  Salary
0   E01    Aman   30   25000
1   E02   Rahul   28   30000
2   E03   Kiran   43   42000
3   E04   Sonam   38   50000
4   E05  Jassie   22   74000
5   E06   Shyam   27   38000

In [8]:
import pandas as pd;

data1 = {"EmpId": ["E01", "E02", "E03", "E04", "E05", "E06"],
        "Name": ["Aman", "Rahul", "Kiran", "Sonam", "Jassie", "Shyam"],
        "Age": [30,28,43,38,22,27]}

data2 = {"EmpId": ["E07", "E08", "E09", "E10", "E11", "E12"],
        "Name": ["Shivum", "Rohan", "Karan", "Suman", "Jake", "Shoreya"],
        "Age": [30,28,43,38,22,27]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Concatenate two different data using concat() function

In [9]:
print(pd.concat([df1,df2]))

  EmpId     Name  Age
0   E01     Aman   30
1   E02    Rahul   28
2   E03    Kiran   43
3   E04    Sonam   38
4   E05   Jassie   22
5   E06    Shyam   27
0   E07   Shivum   30
1   E08    Rohan   28
2   E09    Karan   43
3   E10    Suman   38
4   E11     Jake   22
5   E12  Shoreya   27