In [16]:
import pandas as pd;

dict = {"keys": ["k1", "k2", "k1", "k2"],
       "Name": ["John", "Ben", "David", "Peter"],
       "Houses": ["Red", "Blue", "Green", "Red"],
       "Grades": ["3rd", "4th", "8th", "9th"]}

df = pd.DataFrame(dict)
print(df)
pivoted_df = df.pivot(index="keys",columns="Name",values= ["Houses","Grades"])
print(pivoted_df)

  keys   Name Houses Grades
0   k1   John    Red    3rd
1   k2    Ben   Blue    4th
2   k1  David  Green    8th
3   k2  Peter    Red    9th
     Houses                   Grades
Name    Ben  David John Peter    Ben David John Peter
keys
k1      NaN  Green  Red   NaN    NaN   8th  3rd   NaN
k2     Blue    NaN  NaN   Red    4th   NaN  NaN   9th

In [17]:
import pandas as pd;

data = {"Name": ["John", "Ben", "David", "Peter"],
       "Houses": ["Red", "Blue", "Green", "Red"],
       "Grades": ["3rd", "4th", "8th", "9th"]}

df = pd.DataFrame(data)
print(df)

    Name Houses Grades
0   John    Red    3rd
1    Ben   Blue    4th
2  David  Green    8th
3  Peter    Red    9th

In [20]:
print(pd.melt(df, id_vars=["Name"], value_vars = ["Houses","Grades"]))

    Name variable  value
0   John   Houses    Red
1    Ben   Houses   Blue
2  David   Houses  Green
3  Peter   Houses    Red
4   John   Grades    3rd
5    Ben   Grades    4th
6  David   Grades    8th
7  Peter   Grades    9th